extend layout

block style
  link(rel='stylesheet', href='/stylesheets/blog.css')

block content
  #page
    #header
      p= header
    #topNav
    #sideBar
    #articleList
      h3(style="padding-left:20px") Posts
      - each article in articles
        .articleItem
          .articleTitle 
            a(href="/blog/"+article.LID)!= article.title
          .articleAuthor= article.author
          .articleTime= article.date
          .articleAbstract= article.body.substr(0,50)
          .articleBody= article.body
    #footer
  script.
    window.onscroll=function(){
      if (document.documentElement.scrollTop > document.getElementById("header").offsetHeight) {
        document.getElementById("topNav").className = "topnav-fixed";
        document.getElementById("sideBar").className = "sideBar-fixed";
        document.getElementById("sideBar").removeAttribute("style");
        document.getElementById("articleList").style.marginTop="50px";
      }
      else
      {
        document.getElementById("topNav").className = "topnav-relative";
        document.getElementById("sideBar").className = "sideBar-relative";
        document.getElementById("sideBar").style.height=window.innerHeight-document.getElementById("sideBar").offsetTop+document.documentElement.scrollTop+"px";
        document.getElementById("articleList").style.marginTop="0";
      }
    }
    window.onload=function(){
      document.getElementById("sideBar").style.height=window.innerHeight-document.getElementById("sideBar").offsetTop+document.documentElement.scrollTop+"px";
    }
